.wrapper {
  width: 100%;
}
.wrapper .wr_select {
  width: 400px;
  padding: 50px;
}
.wrapper .wr_select h3 {
  font-weight: bold;
}
.wrapper .wr_select .wr_input {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.wrapper .wr_select .wr_input .icon {
  font-size: 15px;
  background-color: #bebebe;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0px 0 20px 5px;
}
.wrapper .wr_select .wr_input span {
  color: #bebebe;
}
.wrapper .wr_select .wr_input .des {
  width: 80%;
  margin-left: 10px;
}
.wrapper .wr_select .wr_input .result {
  width: 10%;
}
.wrapper .wr_select .wr_input:hover {
  cursor: pointer;
}
.wrapper .wr_select .wr_input:hover span {
  color: #333;
}
.wrapper .wr_select .wr_input:hover .icon {
  background-color: #333;
  color: #fff;
}
.wrapper .wr_tag {
  width: 400px;
  padding: 0 50px;
}
.wrapper .wr_tag h3 {
  font-weight: bold;
}
.wrapper .wr_tag span {
  margin-right: 20px;
  line-height: 30px;
  color: #bebebe;
}
.wrapper .wr_tag span:hover {
  color: #333;
  cursor: pointer;
  text-decoration-line: underline;
}
